@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #020617; /* slate-950 */
  color: #e2e8f0; /* slate-200 */
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #1e293b; /* slate-800 */
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #334155; /* slate-700 */
}
